<!DOCTYPE html>
<html>
    <head>
        <title>404 Not Found</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/bootstrap.css">
    </head>
    <body>
        {{>header}}
        <main role="main" class="container">
            <div class="jumbotron" >
                 <h1>{{innertitle}}</h1>
                <p>{{message}}</p>
            </div>
        </main>
       
        {{>footer}}
    </body>
</html>