<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        {{!-- no need of public here coz public path is added as static --}}
        <link rel="stylesheet" href="/css/bootstrap.css">
    </head>
    <body>
        {{>header}}
        <main role="main" class="container">
            <div class="jumbotron" >
                <img src="/images/p.jpg" alt="">
            </div>
        </main>
        {{!-- <h1>{{title}}</h1> --}}
         
        {{!-- <p>Createtd By : {{name}}</p> --}}

        {{>footer}}
    </body>
</html>