
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">{{title}}</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="{{navlinkcssHOME}}">
                <a class="nav-link" href="/">Weather<span class="sr-only">(current)</span></a>
            </li>
            <li class="{{navlinkcssABOUT}}">
                <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="{{navlinkcssHELP}}">
                <a class="nav-link" href="/help">Help<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
 </nav>

{{!-- <div>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div> --}}